table{
    margin-left: 100px;
     width: 80%;
     border-collapse: collapse;
    
 }
 thead{
     background-color:rgb(243, 240, 237);
 }
 tr{
       height: 3em;
   }
   #computer{
     border-left: 2px solid black;
      border-bottom: 2px solid black;
       text-align: Center;
       height: 2em; 
       
       }
   #phone{
       border-left: 2px solid black;
       border-right: 1px solid black;
      border-bottom: 2px solid black;
      text-align: Center;
       height: 2em;
       
   }
   .heading{
       white-space: nowrap;
       border:1px solid black;
       column-width: 3.5em;
       text-align: left;
       transform: rotate(-90deg);
       transform-origin: center;  
    }
   .border{
    border-left:2px solid black;
    }
   .sideheadings{
       background-color:rgb(243, 240, 237);
       border-top: 1px solid black;
       border-right: 2px solid black;
       text-align: left;
       width: 12em;
       padding-left: 25px;
       }
   
   .data{
       background-color: rgb(210, 241, 243);
       border-top: 1px solid black;
       border-right: 1px solid black;
       text-align: center;
       width: 3em;
       }
   .margin{
       border-left: 2px solid black;
   }
 